OAuth documentation should recommend against embedded browsers

The OAuth documentation contains some references to embedded browsers, e.g.

https://github.com/hmrc/api-documentation-frontend/blob/87a8acbd46c23596b056a75d694882cc0649a693/app/uk/gov/hmrc/apidocumentation/views/AuthorisationUserRestrictedEndpointsView.scala.html#L261-L263

Using embedded browsers for OAuth authentication puts users at increased risk of phishing attacks. [RFC 6819 § 4.1.4](https://datatracker.ietf.org/doc/html/rfc6819#section-4.1.4) describes the risk, and has several recommendations for mitigations, including:

> Client developers should not write client applications that collect authentication information directly from users and should instead delegate this task to a trusted system component, e.g., the system browser.

For data as sensitive as tax information, integrators with HMRC should be encouraged to follow security best practices, and therefore should be advised not to use embedded browsers.

I suggest:

- Removing existing references to embedded browsers.
- Adding explicit guidance to avoid embedded browsers for OAuth authentication.